// principal.module.scss
.principal {
    div {
      display: flex;
      flex-direction: column;
  
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  
    // Adicione estilos adicionais conforme necessário
  }
  