// Rodape.module.scss

footer {
    display: flex;
    justify-content: space-around;
    background-color: #bdf2d8;
    padding: 20px;
  
    div {
      display: flex;
      text-align: center;
      padding: 20px;
      margin :0 25px;
      
      h2 {
        color: #03100a;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 25px;
        font-size: medium;
        
       
        
        
  
        li {
          color: #03100a;
          margin-bottom: 10px;
          font-size: small;
          padding-left: 1px;
          
      

        }
      }
    }
  }
  