$corPrincipal: #53dc98;
$corTexto: #03100a;
$corFundoClaro: #bdf2d8;

.component{
div {
  text-align: center;
  padding: 20px;
  background-color: $corFundoClaro;
  border-color: $corTexto;

  h1 {
    color: $corTexto;
    background-color: $corFundoClaro;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-color: $corTexto;

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border-color: $corTexto;

      th, td {
        border: 2px solid $corTexto;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: $corPrincipal;
        color: white;
      }

      tr:nth-child(even) {
        background-color: $corFundoClaro;
      }

      tr:nth-child(odd) {
        background-color: white;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      color: $corTexto;

      input {
        padding: 8px;
        border: 2px solid $corTexto;
        border-radius: 5px;
        margin-top: 5px;
      }
    }

    button {
      padding: 10px 20px;
      background-color: $corPrincipal;
      border: 2px solid $corPrincipal;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      border-color: $corTexto;
      margin-top: 10px;

      &:hover {
        background-color: $corTexto;
        color: $corPrincipal;
      }
    }
  }
}
}