.LOGIN {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
    .div {
      background-color: #ffffff;
      height: 1024px;
      position: relative;
      width: 1440px;
  
      .frame {
        align-items: flex-start;
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        left: 321px;
        position: absolute;
        top: 213px;
  
        &-2 {
          align-items: flex-start;
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 55px;
          position: relative;
        }
  
        &-3 {
          align-items: flex-start;
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 35px;
          position: relative;
        }
  
        .text-wrapper {
          color: #4b104c;
          font-family: "Open Sans-Bold", Helvetica;
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: normal;
          margin-top: -1px;
          position: relative;
          text-shadow: 0px 4px 4px #00000040;
          width: fit-content;
        }
  
        .p {
          color: #080808;
          font-family: "Open Sans-Bold", Helvetica;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: normal;
          position: relative;
          text-shadow: 0px 4px 4px #00000040;
          width: fit-content;
        }
  
        &-4 {
          align-items: flex-start;
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 18px;
          position: relative;
        }
  
        .text-wrapper-2 {
          color: #4b104c;
          font-family: "Open Sans-Regular", Helvetica;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 0;
          line-height: normal;
          margin-top: -1px;
          position: relative;
          text-shadow: 0px 4px 4px #00000040;
          width: fit-content;
        }
  
        .frame-wrapper {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          height: 56px;
          justify-content: center;
          padding: 5px 510px;
          position: relative;
          width: 764px;
        }
  
        .div-wrapper {
          align-items: center;
          display: flex;
          gap: 10px;
          margin-bottom: -31.5px;
          margin-left: -476px;
          margin-right: -476px;
          margin-top: -31.5px;
          padding: 40px 0px;
          position: relative;
          width: 696px;
        }
  
        .text-wrapper-3 {
          color: #a8a8a8;
          font-family: "Open Sans-Bold", Helvetica;
          font-size: 21px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: normal;
          margin-top: -1px;
          position: relative;
          text-shadow: 0px 4px 4px #00000040;
          width: fit-content;
        }
  
        .frame-5 {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          height: 56px;
          justify-content: center;
          padding: 10px 510px;
          position: relative;
          width: 771px;
        }
  
        .frame-6 {
          align-items: center;
          display: flex;
          gap: 10px;
          margin-bottom: -36.5px;
          margin-left: -472.5px;
          margin-right: -472.5px;
          margin-top: -36.5px;
          padding: 40px 0px;
          position: relative;
          width: 696px;
        }
  
        .frame-7 {
          align-items: flex-start;
          border: 1px solid;
          border-color: #ccbcbc;
          border-radius: 10px;
          display: inline-flex;
          gap: 26px;
          left: 321px;
          position: absolute;
          top: 614px;
        }
  
        .frame-8 {
          align-items: center;
          background-color: #006414;
          border: 1px solid;
          border-color: #f3ebeb;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          height: 112px;
          justify-content: center;
          margin-bottom: -1px;
          margin-left: -1px;
          margin-top: -1px;
          padding: 5px 510px;
          position: relative;
          width: 376px;
        }
  
        .frame-9 {
          align-items: center;
          display: flex;
          gap: 10px;
          height: 121px;
          margin-bottom: -8.5px;
          margin-left: -690px;
          margin-right: -688px;
          margin-top: -10.5px;
          padding: 40px 332px 40px 307px;
          position: relative;
          width: 734px;
        }
  
        .text-wrapper-4 {
          color: #5ccb5f;
          font-family: "Open Sans-Bold", Helvetica;
          font-size: 21px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: normal;
          margin-right: -9px;
          position: relative;
          text-align: center;
          text-shadow: 0px 4px 4px #00000040;
          width: fit-content;
        }
  
        .frame-10 {
          align-items: center;
          background-color: #006414;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          height: 110px;
          justify-content: center;
          padding: 5px 510px;
          position: relative;
          width: 374px;
        }
  
        .frame-11 {
          align-items: center;
          display: flex;
          gap: 10px;
          height: 110px;
          margin-bottom: -5px;
          margin-left: -653.5px;
          margin-right: -653.5px;
          margin-top: -5px;
          padding: 40px 307px;
          position: relative;
          width: 661px;
        }
  
        .text-wrapper-5 {
          color: #5ccb5f;        
        };
    };

};